.course-card{
    /* background-image: url('../media/cpplogo.png'); */
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid black;
    background-color :rgb(100, 95, 95);
}

.course-card {
    display: flex;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(150, 11, 11, 0.1);
    padding: 10px;
    color: black;
    max-width:300px;
    margin:0px;
  }
  
  
  
  