.total-card{
    min-width: 400px; 
    margin: 10px; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background-color:#dcdde6;
  }
  
.total-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}
  
.total-card p {
    font-size: 34px;
    font-weight: bold;
    margin: 5px 0;
}