*{
   margin: 5px;
    box-sizing: border-box;
}

.col-wh{
  color: white !important;
  margin-left:2px;
  padding: 18px;
  width: 80%; 
  margin: 0 auto;
}

.main-heading{
  font-size: 80px;
  text-align: center;
}

.BoxContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-wrap: wrap;
  background-color:   #010714;
}

.FormJumbotron{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10%;
}

.Headline{
  background-color:#1c305c;; 
  margin-bottom: 0 ;
  padding: 10px;
}

.Heading{
   color:white;
   font-size: 18px;
   text-align: center;
   padding: 2px;
}

.Message{
  color:blue;
  max-height: fit-content;
  margin:-2px 0 -1px 0;
}

.FormContainer{
  background-color: white;
  padding: 50px;
  

}

.InputField{
  margin:2px;
}

input{
  padding: 10px;
  width: 320px;
  margin: 10px;
}

.SubmitButton{
  background-color:#1c305c;;
  padding:9px;
  margin: 3px 0 2px 0;
  color:white;
  border: none;
  width: 100%;
}

.SubmitButton:hover{
   cursor: pointer;
}

.btn_look_alike{
   text-decoration: none;
}

.btn_look_alike:hover{
    color:white;
}
