.hero__content h2 {
  font-weight: 600;
  line-height: 55px;
}

.hero__content {
  padding-top: 80px;
}
.search input {
  border: none;
  outline: none;
  padding: 7px 10%;
  background-color: rgb(6, 6, 39);
}
@keyframes glowing {
  0% {
    background-color: #0d0236;
    box-shadow: 0 0 3px #460fa0;
  }
  50% {
    background-color: #34106e;
    box-shadow: 0 0 10px #2415a7;
  }
  100% {
    background-color: #111b74;
    box-shadow: 0 0 3px #2c0685;
  }
}



.Register{
  background-color: rgb(28, 6, 63);
  padding: 5px;
  color: white;
  border-radius: 5px;
  font-size: 22px;
  animation: glowing 1300ms infinite;
  
}