.hero__content h2 {
  font-weight: 600;
  line-height: 55px;
}

.hero__content {
  padding-top: 80px;
}
.search input {
  border: none;
  outline: none;
  padding: 7px 10%;
  background-color: rgb(6, 6, 39);
}
@keyframes glowing {
  0% {
    background-color:rgb(51, 236, 51);
    box-shadow: 0 0 3px rgb(10, 117, 10);
  }
  50% {
    background-color: #14770b;
    box-shadow: 0 0 10px #074607;
  }
  100% {
    background-color: #023804;
    box-shadow: 0 0 3px #00160a;
  }
}



.Register{
  background-color: rgb(28, 6, 63);
  padding: 5px;
  color: white;
  border-radius: 5px;
  font-size: 22px;
  animation: glowing 1300ms infinite;
  
}